table {
    width: 100%;
}

form {
    width: 50%;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

td, th {
    padding: 5px;
    text-align: center;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

